body {
	background-color: #f2f2f2;
	font-family: 'helvetica neue',helvetica, arial, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 66.666666666667%;
}

form {
	background-color: #08BCBD;
	padding:60px 15%;
	border: 4px solid #005958;
}

input:not([type='checkbox']) {
	width: 100%;
	height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	border: 1px solid #005958;
}

input[type='submit'] {
	width: 30%;
}

@media (max-width: 768px) {
	#wrapper {
		width: 73.177083333333%;
	}

	input:not([type='checkbox']) {
		width: 100%;

	}
}

@media (max-width: 562px) {
	#wrapper {
		width: 100%;
	}

	input:not([type='checkbox']) {
		width: 100%;

	}
}